<div class="container">
  <header class="jumbotron">
    <!-- <div *ngFor="let player of allPlayers">
      {{player.firstName}}
    </div> -->
    <!-- <p>{{ content | json }}</p> -->
    <div class="text-center">
      <h4>Generar reporte</h4>
      
    </div>
    <form class="form-inline"   #myForm="ngForm" style="margin-top:40px">
      <label for="example-date-input">Fecha desde: </label>
      <input class="form-control" type="date" [(ngModel)]="desde" name="fechadesde" id="example-date-input">
      <label for="example-date-input">Fecha hasta: </label>
      <input class="form-control" type="date" [(ngModel)]="hasta" name="fechahasta" id="example-date-input">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Estado: </label>
      <select class="custom-select"   [(ngModel)]="estado" name="estado" id="inlineFormCustomSelect">
        <option [value]="null" value="null">Elegir..</option>
        <option [value]="pendiente" value="pendiente">Pendiente</option>
        <option [value]="realizado" value="realizado">Realizado</option>
      </select>
      <label class="mr-sm-2" for="inlineFormCustomSelect">Region: </label>
      <select class="custom-select "  [(ngModel)]="region" name="region" id="inlineFormCustomSelect">
        <ng-container *ngFor ="let region of regiones">
          <option value="{{region.nombre}}" [value]="region.nombre">{{region.nombre}}</option>
        </ng-container>
      </select>
    </form>
    
    
  </header>
  
  <ng-container *ngFor ="let viaje of viajes">
    <ng-container *ngFor ="let plan of viaje.planes | filtro: desde: hasta: estado: region">
      <div class="text-center">
        <h4>Plan de {{plan.type}}</h4>
        
      </div>
      
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <ng-container *ngFor ="let item of plan | keyvalue">
              <ng-container *ngIf="item.key == 'id_plan'; then first; else (item.key == 'type' && second) || (item.key != 1 && third)"></ng-container>
              <ng-template #first></ng-template>
              <ng-template #second></ng-template>
              <ng-template #third><th scope="col">{{item.key}}</th></ng-template>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr>
            <ng-container *ngFor ="let item of plan | keyvalue">
              <ng-container *ngIf="item.key == 'id_plan'; then first; else (item.key == 'type' && second) || (item.key != 1 && third)"></ng-container>
              <ng-template #first></ng-template>
              <ng-template #second></ng-template>
              <ng-template #third><td>{{item.value}}</td></ng-template>
            </ng-container>
          </tbody>
        </table>
        
      </ng-container>
    </ng-container>
    
    
    
    
  </div>
  