<div class="container">
  <div class="text-center">
    <h4>Viaje</h4>
  </div>


    <!-- <a href="#" routerLink="/home/" class="btn btn-primary">Back</a> -->
    <div class="text-right">
      <a href="#" [routerLink]="['/plan/',viaje.id_viaje,'create']" class="btn btn-outline-success">Agregar Plan</a>
    </div>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <ng-container *ngFor ="let table of viaje_tables">
            <th scope="col">{{table.nombre}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{viaje.nombre}}</td>
            <td>{{viaje.ciudad_origen}}</td>
            <td>{{viaje.ciudad_destino}}</td>
            <td>{{viaje.fecha_inicio}}</td>
            <td>{{viaje.fecha_fin}}</td>
            <td>{{viaje.descripcion}}</td>
            </tr>
      </tbody>
    </table>

    <ng-container *ngFor ="let plan of viaje.planes">
      <div class="text-center">
        <h4>Plan de {{plan.type}}</h4>

      </div>

    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <ng-container *ngFor ="let item of plan | keyvalue">
            <ng-container *ngIf="item.key == 'id_plan'; then first; else (item.key == 'type' && second) || (item.key != 1 && third)"></ng-container>
             <ng-template #first></ng-template>
             <ng-template #second></ng-template>
             <ng-template #third><th scope="col">{{item.key}}</th></ng-template>
          </ng-container>
        </tr>
      </thead>
      <tbody>
          <tr>
              <ng-container *ngFor ="let item of plan | keyvalue">
                <ng-container *ngIf="item.key == 'id_plan'; then first; else (item.key == 'type' && second) || (item.key != 1 && third)"></ng-container>
                 <ng-template #first></ng-template>
                 <ng-template #second></ng-template>
                 <ng-template #third><td>{{item.value}}</td></ng-template>
              </ng-container>
      </tbody>
    </table>

    </ng-container>

</div>
